[submodule "agent"]
	path = agent
	url = git@github.com:CastellaniDavide/agent.git
[submodule "bc"]
	path = bc
	url = git@github.com:CastellaniDavide/bc.git
[submodule "agentless"]
	path = agentless
	url = git@github.com:CastellaniDavide/agentless.git
[submodule "calcolatrice"]
	path = calcolatrice
	url = git@github.com:CastellaniDavide/calcolatrice.git
[submodule "eventsview"]
	path = eventsview
	url = git@github.com:CastellaniDavide/eventsview.git
